pyrogram==2.0.106
pymongo==4.8.0
motor==3.5.1
python-decouple==3.8
requests==2.31.0
aiohttp==3.9.1
python-dotenv==1.0.0
pytz==2024.1
cinemagoer==2022.4.26
fuzzywuzzy==0.18.0
python-Levenshtein==0.23.0
telegraph==1.5.0
dnspython==2.5.0
Flask==3.0.0
gunicorn==21.2.0
Pillow==10.1.0
pyshorteners==1.0.1
search-engine-parser==0.6.2
aiocache==0.12.0
cachetools==5.3.1
